

table thead tr th{ text-align: center; }
table tbody tr td{ text-align: center; }
.icon_view{ color: #0000FF; }
.box_search_div{ height: 30px; margin-bottom: 10px; }
.box_search_div_one{ width: 30%; }
.box_search_div_one,.box_search_lable,.box_search_input{ float: left; line-height: 30px;}
.box_search_input{  }






















