<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>欢迎微信考勤管理系统</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="../../static/weixindaka/assets/i/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="../../static/weixindaka/assets/i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="../../static/weixindaka/assets/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
  <!--
  <link rel="canonical" href="http://www.example.com/">
  -->

  <link rel="stylesheet" href="../../static/weixindaka/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="../../static/weixindaka/assets/css/app.css">
  
  <!--自建css样式-->
  	<link rel="stylesheet" type="text/css" href="../../static/weixindaka/css/wechat-signin.css"/>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a
  href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->
<!--顶部-->
	<header class="am-u-sm-12 am-padding-0 am-margin-0">
		<p>登陆</p>
	</header>
<!--内容-->
	<section class="banner">
		<img src="../../static/weixindaka/img/loginbanner.png" width="100%">
	</section>
	<section class="login-user">
		<form action="" method="post">
			<p><span>姓名：</span><input type="text" class="longinput" value=""  id="uName" maxlength="7" /></p>
			<p><span>手机号码：</span><input type="text" class="longinput" id="cellphone"  value="" maxlength="11"/></p>
			<p>
				<span>验证码：</span>
				<input type="text" class="shortinput" id="yzm"/>
				<input type="button"  class="shortinput yzmbtn" onclick="sendyzm()" id="btn" disabled="disabled" name="" value="获取验证码" />

			</p>
			<input type="button" class="login-in noclick" value="登录" id="topunch" disabled="disabled" onclick="yanzhen()"/>
		</form>
    </section>
	
<!--底部-->
	
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="../../static/weixindaka/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../../static/weixindaka/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="../../static/weixindaka/assets/js/amazeui.min.js"></script>


<script src="../../static/weixindaka/js/login.js"></script>
</body>
</html>


